{% extends 'ent/base.html' %}


{% load cache %}



{% block title %}
 {{ object.name }}
{% endblock %}


{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}


{% block content %}
 <h1>
 	{{ module.name }}
 </h1>

 <div class="contents">
	 <h3>Modules</h3>
 	<ul id="modules">
	 {% for m in object.modules.all %}
		<li data-id="{{ m.id }}" {% if m == topic %} class="selected"{% endif %}>
			<a href="{% url 'students:student_department_detail_module' object.id m.id %}">
				<span>
					Module <span class="order">{{ m.order|add:1}}</span>
				</span>
				<br>
					{{ m.name }}:
			</a>
		</li>
		{% empty %}
		<li>No modules yet.</li>

		{% endfor %}
	 </ul>	
 </div>

 <div class="module">
 {% cache 600 topic_contents course %}
 {% for content in topic.contents.all %}
 {% with item=content.item %}
 <h2>{{ item.name }}</h2>
 {{ item.render }}
 {% endwith %}
 {% endfor %}
 {% endcache %}
 </div>

{% endblock %}