{% extends 'ent/base.html' %}


{% block title %}
 {{ object.name }}
{% endblock %}


{% block style %}
  <style>
  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}

.vp-center {
    display: -webkit-box;
    display: contents;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
  </style>


{% endblock %}


{% block content %}
 <h2>
 	COURSE TITLE:  {{ course.name|upper }}
 </h2>

 <div style="width:100%;" class="contents">
	 <h3>Chapters</h3>
	 <hr>
 	<ul id="modules">
	 {% for m in p.modules.all %}
		<li data-id="{{ m.id }}" {% if m == topic %} class="selected"{% endif %}>
			<a href="{% url 'students:student_department_detail_module' p.id m.id %}">
				<h6>
					Chapter {{ m.order|add:1}} <br>{{ m.name }} <small><--- click here to view this lecture </small>
				</h6>
			</a>
		</li>
		<hr>
		{% empty %}
		<li>No modules yet.</li>

		{% endfor %}
	 </ul>
 </div>

  <div style="width:100%; margin:auto;" class="module">
  	<h4>Chapter {{ topic.order|add:1 }}</h4>
 {% for content in topic.contents.all %}

 {% with item=content.item %}

 <br>
 <h5 style="margin: 5px;">{{ item.name|upper }}</h5>

<div class="">



 <div style="width:80%; margin:20px;" class="boxes center">{{ item.render }}</div>
</div>
 <hr>

 {% endwith %}
 {% endfor %}



  <div class="col-md-8" style="background-color: #436bb75c;">
  	<h3><b>FORUM</b></h3>
  	<br>
 <p style="color:#000000;">Feel free to share thoughts and questions about this lecture on this forum</p>
 <br>
 <br>

<div>

        <div class="main-comment-section">
          {% include 'ent/comments.html' %}
        </div>

  </div>



      </div> <!-- col-md-8 -->

<hr>
  <a style="margin:auto; " href="{% url 'students:assignment_module' id=object_id slug=object_slug topic_id=module_id %}" class="btn btn-success">
 Take Assesment
 </a>




 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
{% endblock %}


{% block java %}
<script>

        var iframe = document.querySelectorAll('iframe');
        var clas = document.querySelectorAll('iframe.logo');

        for (var index = 0; index < iframe.length; ++index){
            iframe[index].style.width = "-webkit-fill-available";
        }

        for (var index = 0; index < clas.length; ++index){

            clas[index].style.display = 'none';

        }

    </script>
    {% endblock %}



