{% extends 'ent/base.html' %}

{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}
{% block lin %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block title %}Contact Us | {{ block.super }}{% endblock %}


{% block content %}
<div id="addQuestion">
  <div class="col-sm-8 form-group-lg">
      <h1>{{ title }}</h1><br>

      {% if confirm_message %}
      <p>{{ confirm_message }}</p>
      {% endif %}

{% if form %}

<form class="form-group" method="post"  action="" >
  {% csrf_token %}

  {% if form.name %}
  {{ form.name }}<br>
  {% endif %}

  {% if form.email %}
  {{ form.email }}<br>
  {% endif %}

  {% if form.phoneNumber %}
  {{ form.phoneNumber }}<br>
  {% endif %}

  {% if form.comment %}
  {{ form.comment }}<br>
  {% endif %}

    <button class="btn btn-success">Submit</button>
  </form>

  {% endif %}
</div>
</div>

<br><br>

{% endblock %}


{% block java %}
<script>
    var phone = document.querySelector('#id_phoneNumber');

    phone.setAttribute('placeholder', "Phone Number");

    phone.setAttribute('class', 'form-control');

    phone.setAttribute('type', 'number');

    phone.required = true;
</script>


{% endblock %}











