{% extends 'ent/base.html' %}






{% load crispy_forms_tags %}  <!-- check meerasblog settings.py for this -->

{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}


{% block container %}
<h3>
	Something went wrong, please re request the activation link <a href="{% url 're_request_activation_link' %}">here</a>
</h3>

{% endblock %}