{% extends 'ent/base.html' %}


{% load humanize %}



{% block title %}{{ post.title|title }} | {{ block.super }}{% endblock %}

{% block tweet %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@tonybrainsblog">
<meta name="twitter:creator" content="@tonybrainsblog">
<meta name="twitter:url" content="" href="{{ post.get_absolute_url }}">
<meta name="twitter:title" content="{{ post.title|linebreaks }}">
<meta name="twitter:description" content="{{ post.description|linebreaks }}">
 <meta name="twitter:image" content="{{ url }}">
<meta property="og:title" content="{{ post.title|linebreaks }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ post.description|linebreaks }}" />
<meta property="og:url" content="" href="{{ post.get_absolute_url }}" />
<meta property="og:image" content="{{ url }}" />
<meta property="og:image:secure_url" content="{{ post.get_absolute_url }}">
<meta property="og:image:type" content="image/png">
<meta property="og:image:alt" content='default'>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="628" />
<meta property="fb:app_id" content="2847533872174572" />

<meta name="description" content="{{ post.snippet|safe }}">
<meta name="keywords" content="{{ post.snippet|safe }}">

{% endblock %}


{% block lin %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}





{% block content %}

<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title steady" id="exampleModalLongTitle">Edit Post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>
                            <strong id='err'><span style="color: red">{{ error|escape }}</span</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div>
                        <strong><span style="color: red">{{ error|escape }}</span></strong>
                    </div>
                {% endfor %}
            {% endif %}

        <form id="a_form3" role="form" method="POST" enctype="multipart/form-data" action="{% url 'ent:post_edit' id=post.id slug=post.slug %}">
            {% csrf_token %}
            <div id="post-edit">
            </div>
        </form>
      </div>
      <div class="modal-footer container-login100-form-btn">
        <button id="upload_form3" type="submit" class="btn btn-primary login100-form-btn" form="a_form3">Save</button>
      </div>
    </div>
  </div>
</div>



<section id="" class="">
  <div class="row">
<div class="col-md-8">
<div class="row">
  <div class="col-md-4 w3-content">

    {% if post.image %}

    <img class="main-image mySlides" src="{{ post.image2.url }}" style="width:100%;display:none"/>
    <img class="main-image mySlides" src="{{ post.image.url }}" style="width:100%"/>
    <img class="main-image mySlides" src="{{ post.image3.url }}" style="width:100%;display:none"/>
    <div class="w3-row-padding w3-section">
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="{{ post.image2.url }}" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="{{ post.image.url }}" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
    </div>
    <div class="w3-col s4">
      <img class="demo w3-opacity w3-hover-opacity-off" src="{{ post.image3.url }}" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
    </div>
  </div>
    {% endif %}
  </div> <!-- col-md-4 -->
  <br><br>
  <div class="col-md-8">
    <h2 id="increase">{{ post.title|upper }}</h2>
    {% if request.user == post.author %}
    <div class="price">{{ post.created|naturaltime }}</div>
    <p>
    <a class="btn btn-success" href="{% url 'ent:post_delete' id=post.id slug=post.slug %}">Delete Post</a> |||||


 <a id="open111" class="btn btn-success username111" data-username="{{post.id}}" data-info="{{post.slug}}" style="color:#ffff;">Edit Post</a>

 <a id="edit_post" style="visibility: hidden;" data-toggle="modal" data-target="#exampleModalScrollable"></a>
 </p>
    {% endif %}
    <br>
    <div class="price" style="color:#c40606">Price: {{ amount|intcomma }} NGN</div>
    <hr/>





    <!--<form action="" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input id="option1" type="hidden" name="name1" value="{{ post.id  }}">
    <input id="option2" type="hidden" name="name1" value="{{ post.slug }}">
      <input id='add_cart' type="submit" class="cd-add-to-cart js-cd-add-to-cart" value="Add to cart">
    </form>-->


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        {% if post.body %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Description
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="" role="tabpanel" aria-labelledby="headingOne">
          <div style="margin-left: 20px;color: #df1057;" class="panel-body">
            {{ post.body|safe|linebreaks }} </div>
        </div>
      </div>
      {% endif %}
      {% if post.specification %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Specifications
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="" role="tabpanel" aria-labelledby="headingTwo">
          <div style="margin-left: 20px;color: #df1057;" class="panel-body">
            {{ post.specification|linebreaks }} </div>
        </div>
      </div>
      {% endif %}
      {% if similar_posts %}
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Related
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            {% for post in similar_posts %}

            <div style="text-align: center;box-shadow: var(--shadow);" class="w3-col s4">
                <img class="demo w3-opacity w3-hover-opacity-off" class="javs-image"src="{{ post.image.url }}" style="width:90%;cursor:pointer;display: block;margin-left: auto;margin-right: auto;" onclick="currentDiv(2)">
                <p style="text-align:center;color: #df1057;bottom:0px;">{{ post.title|upper }}</p>
                </div>
            {% empty %}
             There are no related posts yet.
            {% endfor %}
              </div>
        </div>
        {% endif %}
      </div>
          </div>
        </div> <!-- col-md-8 -->
      </div> <!-- row -->
      </div> <!-- col-md-8 -->

      <hr/>
      <div class="col-md-4">


      </div> <!-- col-md-4 -->
        </div> <!-- row -->
      </section>


<div id="addQuestion">
  <div class="col-sm-8 form-group-lg">




  {% if post.link %}
    <a href="{{ post.link }}" class="btn btn-success">Connect to your seller</a>
  {% else %}
  <br/><br/><br/>
  <form action="{% url 'ent:article_detail' id=post.id slug=post.slug %}" method="post">
      <span class="login100-form-title">
                    Fill Form Below
                  </span>
                  <br>
                  <br>
                  <br>
                  <br>
                  <br>
  {% csrf_token %}

  {% if form.firstname %}
  {{ form.firstname }}<br>
  {% endif %}

  {% if form.lastname %}
  {{ form.lastname }}<br>
  {% endif %}

  {% if form.email %}
  {{ form.email }}<br>
  {% endif %}

  {% if form.address %}
  {{ form.address }}<br>
  {% endif %}

  {% if form.phoneNumber %}
  {{ form.phoneNumber }}<br>
  {% endif %}
  <button class="btn btn-success">Connect to your seller</button>
  </form>
  {% endif %}




  <br>

</div>
</div>
    <br/><br/><br/>

{% endblock %}



{% block java %}
  <script>

  function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}



var firstname = document.querySelector('#id_firstname');
var lastname = document.querySelector('#id_lastname');
var email = document.querySelector('#id_email');
var address = document.querySelector('#id_address');
var phoneNumber = document.querySelector('#id_phoneNumber');


firstname.setAttribute('class', 'form-control');
firstname.setAttribute('placeholder', 'First Name');
lastname.setAttribute('class', 'form-control');
lastname.setAttribute('placeholder', 'Last Name');
email.setAttribute('class', 'form-control');
email.setAttribute('placeholder', 'Email');
address.setAttribute('class', 'form-control');
address.setAttribute('placeholder', 'Address');
phoneNumber.setAttribute('class', 'form-control');
phoneNumber.setAttribute('placeholder', 'Phone Number');
phoneNumber.setAttribute('type', 'number');

firstname.required = true;
lastname.required = true;
email.required = true;
address.required = true;
phoneNumber.required = true;



$(document).ready(function(){


  console.log("check here345 again")


var post_id;
var post_slug;
var r_url;
$('.username111').click(function(e){
    console.log("check here")
    e.preventDefault();
    post_id = $(this).attr("data-username");
    post_slug = $(this).attr("data-info");
    r_url = `https://www.yctmarket.com/${post_id}/${post_slug}/post_edit/`;
    saveans();
});




    function saveans(){
        $.ajax({
            type: 'POST',
            url: r_url,
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "post_id": post_id,
              "post_slug": post_slug
            },
            dataType: 'json',
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
            success: function(data){
                $('#post-edit').html(data.form);
            },
            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
                 $("#edit_post").click();
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');






});
    </script>
    {% endblock %}