
      {% for p in article %}
        <div class="box infinite-item">

          {% if p.image %}
          <a class="javs-link" href="{{ p.get_absolute_url }}">
            <img class="javs-image" src="{{ p.image.url }}" alt="Image Not Found" >
          </a>
          {% endif %}
          <h3 id="ppp" ><a id="amntt" href="{{ p.get_absolute_url }}">{{ p.title|upper }}</a></h3>
          <p id="amnt" class="javs-price">#{{ p.amount|safe }}</p>

          <p class="javs-id" style="display:none;">{{ p.id }}</p>

        </div>
        {% endfor %}



