{% extends 'ent/base.html' %}
{% load crispy_forms_tags %}




{% block con %}

<div id="set1" style="display:unset">
  <div class="limiter">
    <div class="container-login100">
      <div class="wrap-login100 normal">

        {% if form %}
        <form method="post" action="{% url 'user_login' %}" class="login100-form p-l-55 p-r-55 p-t-178">
          {% csrf_token %}

          <span class="login100-form-title">
            Login
          </span>

          <label for="username">Email</label><span style="color: red">*</span>
          <div class="wrap-input100 validate-input m-b-16" data-validate="Please enter username">
            <input class="input100" type="email" name="username" placeholder="Email" required>
            <span class="focus-input100"></span>
          </div>

          <label for="password">Password</label><span style="color: red">*</span>
          <div class="wrap-input100 validate-input" data-validate = "Please enter password">
            <input class="input100" type="password" id="login_password" name="password" placeholder="Password" required>
            <span class="focus-input100"></span>
          </div>
          <br>
                  <span>Show Password</span>
                  <input type="checkbox" id="box" onclick ="reveal()">
                  <br>

          {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            <br>
          {% endif %}

          <div class="text-right p-t-13 p-b-23">
            <span class="txt1">
              Forgot
            </span>

            <a href="{% url 'password_reset' %}" class="txt2">
              Password?
            </a>
          </div>

          <div class="container-login100-form-btn">
            <button class="login100-form-btn">
              Login
            </button>
          </div>
          <br>



          <div class="flex-col-c p-t-170 p-b-40">
            <span class="txt1 p-b-9">
              Don’t have an account?
            </span>

            <a href="{% url 'signup_choice' %}" class="txt3">
              Sign up now
            </a>
          </div>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}




{% block java %}
  <script>
document.addEventListener('DOMContentLoaded', reveal);

var new_password1 = document.querySelector('#login_password');

function reveal(){
    if(document.getElementById('box').checked){
        new_password1.type='text';

    }else{
        new_password1.type='password';

    }
}

var error = document.querySelector('li');
error.style.color = red;

    </script>
    {% endblock %}