     <div class="topnav">
    <ul>
            <li {% if not category %}class="selected"{% endif %}>
                <a class="active" href="{% url "ent:article_list" %}">All Category</a>
            </li>
        {% for c in categories %}
            <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                <a class="active" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
            </li>
        {% endfor %}
    </ul>

  <div class="search-container">
    <form action="{% url 'ent:article_list' %}">
      <input type="text" placeholder="Search Category.."  name="q">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div style="padding-left:16px">
  <h2 style="color: #F44336;">Your Market Place On Campus Where You Can Buy Affordable Goods.</h2>
  <p>Navigate through to view the products online.</p>
  <p>You can upload your products to reach out to a large customer base by just clicking on Post on the navigation bar.</p>
</div>
