{% extends 'ent/base.html' %}



{% load crispy_forms_tags %}  <!-- check meerasblog settings.py for this -->

{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}

{% block title %}Password Reset | YCT-market {{ block.super }}{% endblock %}


{% block content %}



<div id="addQuestion">
  <div class="col-sm-8 form-group-lg">

<h2>Forgot password</h2><br/>
<form class="form-group" method="post"  action="" >
  {% csrf_token %}


  {% if form.email %}
  {{ form.email }}<br>
  {% endif %}

    <button class="btn btn-success">Submit</button>
  </form>
</div>
</div>
    <br/><br/><br/>

{% endblock %}



{% block java %}
 <script>
var email = document.querySelector('#id_email');


email.setAttribute('class', 'form-control');
email.setAttribute('placeholder', 'Email');

email.required = true;

var error = document.querySelector('li');
error.style.color = red;

    </script>
{% endblock %}