{% extends 'ent/base.html' %}



{% load humanize %}
{% load students_tags %}



{% block title %}{{ object.name }} | {{ block.super }}{% endblock %}

{% block tweet %}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@tonybrainsblog">
<meta name="twitter:creator" content="@tonybrainsblog">
<meta name="twitter:url" content="" href="{{ post.get_absolute_url }}">
<meta name="twitter:title" content="{{ post.title|linebreaks }}">
<meta name="twitter:description" content="{{ post.description|linebreaks }}">
 <meta name="twitter:image" content="{{ url }}">
<meta property="og:title" content="{{ post.title|linebreaks }}" />
<meta property="og:type" content="article" />
<meta property="og:description" content="{{ post.description|linebreaks }}" />
<meta property="og:url" content='' href="{{ post.get_absolute_url }}" />
<meta property="og:image" content="{{ url }}" />

<meta name="description" content="{{ post.snippet|safe }}">
<meta name="keywords" content="{{ post.snippet|safe }}">

{% endblock %}


{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}

.steady {
    font-size: xxx-large;
    font-weight: 700;
    color: #e82b2b;
}
  </style>


{% endblock %}


{% block lin %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}





{% block content %}





<!-- Large modal -->

<div class="modal fade bd-example-modal-lg" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title steady" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">



        <form id="a_form3" role="form" method="POST" action="{% url 'learn:learn_login' id=object.id slug=object.slug %}">
            {% csrf_token %}
            <div id="learn-login">
            </div>
        </form>
      </div>
      <div class="modal-footer container-login100-form-btn">
        <button id="upload_form3" type="submit" class="btn btn-primary login100-form-btn" form="a_form3">Login</button>
      </div>
    </div>
  </div>
</div>







<!-- Large modal -->

<div class="modal fade bd-example-modal-lg2" id="exampleModalScrollable1" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title steady" id="exampleModalLongTitle1">Register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                        <div>
                            <strong id='err'><span style="color: red">{{ error|escape }}</span</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div>
                        <strong><span style="color: red">{{ error|escape }}</span</strong>
                    </div>
                {% endfor %}
            {% endif %}


            {% if profileform.errors %}
                {% for field in profileform %}
                    {% for error in field.errors %}
                        <div>
                            <strong id='err'><span style="color: red">{{ error|escape }}</span</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                {% for error in profileform.non_field_errors %}
                    <div>
                        <strong><span style="color: red">{{ error|escape }}</span></strong>
                    </div>
                {% endfor %}
            {% endif %}

        <form id="a_form4" role="form" method="POST" action="{% url 'learn:learn_register' id=object.id slug=object.slug %}">
            {% csrf_token %}
            <div id="learn-register">
            </div>
        </form>
      </div>
      <div class="modal-footer container-login100-form-btn">
        <button id="upload_form4" type="submit" class="btn btn-primary login100-form-btn" form="a_form4">Register</button>
      </div>
    </div>
  </div>
</div>











<section id="" class="">
  <div class="row">
<div class="col-md-8">
<div class="row">
  <div class="col-md-4 w3-content">

    {% if object.photo %}


    <img class="main-image mySlides" src="{{ object.photo.url }}" style="width:100%"/>



    {% endif %}
  </div> <!-- col-md-4 -->
  <br><br>

  {% with school=course.school %}
  <div class="col-md-8">
    <!--<a href="{% url 'voting:department_list_school' object.slug %}"><h1 ><b>{{ object.name|upper }}</b></h1></a>-->
    <h2 ><b>{{ object.name|upper }}</b></h2>
    <p class="tags">{{ object.modules.count }} chapter(s). <br></p>
    <div class="price">Instructor: {% if phone %} {{ phone }} {% endif %}{{ object.instructor.get_full_name }}</div>
    <div class="price">Department: {{ object.school }}</div>
    {% if object.amount == None %}
    <p style="color: red;" class="tags">Price: Free<br></p>
    {% else %}
    <p style="color: red;" class="tags">Price: {{ object.amount|intcomma }} NGN<br></p>
    {% endif %}

    <hr/>


    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">

            <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Overview
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="" role="tabpanel" aria-labelledby="headingOne">
          <div style="margin-left: 20px;color: #df1057;" class="panel-body">
            {{ object.overview|safe|linebreaks }}

            </div>
        </div>


        <br>

        {% if request.user.is_authenticated %}

            {% if object.general == False %}
                <a href="{% url 'students:pay_for_course' id=object.id slug=object.slug %}" class="btn btn-success">Enroll Now</a>
                <br>
                <br>
                <br>
                <br>

            {% else %}
                {% courses_students_is_in request.user as students %}
                {% if object in students %}

                    {% for m in object.modules1.all|slice:":1" %}
                            <a href="{% url 'students:student_department_detail_module' object.id m.id %}" class="btn btn-success">
                            Continue Course
                            </a>
                            <br>
                <br>
                <br>
                <br>

                    {% endfor %}

                {% else %}

                    {% if request.user == object.instructor %}

                        <a href="{% url 'students:pay_for_course' id=object.id slug=object.slug %}" class="btn btn-success">Enroll Now</a>
                        <br>
                <br>
                <br>
                <br>

                    {% else %}

                        {% if department_access|length > 0 %}
                            {% if student.department %}
                                {% if student.department in department_access %}
                                    {% if department_access_level|length > 0 %}


                                        {% if student.level in department_access_level %}
                                            <a href="{% url 'students:pay_for_course' id=object.id slug=object.slug %}" class="btn btn-success">Enroll Now</a>
                                            <br>
                <br>
                <br>
                <br>

                                        {% else %}
                                            <h5>You are not eligible to enroll.</h5>
                                        {% endif %}


                                    {% else %}
                                        <a href="{% url 'students:pay_for_course' id=object.id slug=object.slug %}" class="btn btn-success">Enroll Now</a>
                                        <br>
                <br>
                <br>
                <br>

                                    {% endif %}

                                {% else %}
                                    <h5>You are not eligible to enroll.</h5>

                                {% endif %}

                            {% else %}
                                <h5>You are not eligible to enroll.</h5>

                            {% endif %}


                        {% else %}
                            <a href="{% url 'students:pay_for_course' id=object.id slug=object.slug %}" class="btn btn-success">Enroll Now</a>
                            <br>
                <br>
                <br>
                <br>

                        {% endif %}

                    {% endif %}

                {% endif %}

            {% endif %}


        {% else %}

<a id="open222" class="btn btn-success username222" data-username="{{object.id}}" data-info="{{object.slug}}" style="color:#ffff;">Register to enroll
 </a>
 or
 <a id="open111" class="btn btn-success username111" data-username="{{object.id}}" data-info="{{object.slug}}" style="color:#ffff;">Login</a>

 <a id="edit_showww" style="visibility: hidden;" data-toggle="modal" data-target="#exampleModalScrollable"></a>
<a id="edit_showww1" style="visibility: hidden;" data-toggle="modal" data-target="#exampleModalScrollable1"></a>

<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>







        {% endif %}


        </div>
    </div>
</div>

 {% endwith %}
{% endblock %}




{% block java %}
  <script>




$(document).ready(function(){


  console.log("check here345")


var post_id;
var post_slug;
var post_amount;
var r_url;
$('.username111').click(function(e){
    console.log("check here")
    e.preventDefault();
    post_id = $(this).attr("data-username");
    post_slug = $(this).attr("data-info");
    r_url = `https://www.allschoolsng.com/learn/${post_id}/${post_slug}/learn_login/`;
    saveans();
});




    function saveans(){
        $.ajax({
            type: 'POST',
            url: r_url,
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "post_id": post_id
            },
            dataType: 'json',
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
            success: function(data){
                $('#learn-login').html(data.form);
            },
            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
                 $("#edit_showww").click();
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');













});















$(document).ready(function(){
  console.log("check here34dfghjkl5")

var post_id;
var post_slug;
var post_amount;
var r_url;
$('.username222').click(function(e){
    e.preventDefault();
    post_id = $(this).attr("data-username");
    post_slug = $(this).attr("data-info");
    r_url = `https://www.allschoolsng.com/learn/${post_id}/${post_slug}/learn_register/`;
    saveans();
});




    function saveans(){
        $.ajax({
            type: 'POST',
            url: r_url,
            headers: {'X-CSRFToken': csrftoken},
            data : {
              "post_id": post_id
            },
            dataType: 'json',
            beforeSend: function () { // Before we send the request, remove the .hidden class from the spinner and default to inline-block.
                $("#overlay").fadeIn(300);　
            },
            success: function(data){
                $('#learn-register').html(data.form);
            },
            complete: function () { // Set our complete callback, adding the .hidden class and hiding the spinner.
                 $("#overlay").fadeOut(300);
                 $("#edit_showww1").click();
            }
        });
        return false;
    }



    function getCookie(name){
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    const csrftoken = getCookie('csrftoken');








});




    </script>
    {% endblock %}