{% extends 'ent/base.html' %}

{% load voting_tags %}

{% block style %}
  <style>
   #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }


  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}
{% block lin %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock %}

{% block title %}Voting Session | {{ block.super }}{% endblock %}


{% block jumbotron %}
{% include 'ent/nav4.html' %}
    <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        {% if article1.0 %}
        <div class="carousel-item active" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.0.image.url }}'); background-size: cover;">
          <div id='back' style="display: block!important;" class="carousel-caption d-none d-md-block">
            <h1 >{{ article1.0.title|upper }}</h1>

            <p style="color: #f2f2f2;">Views: {{ article1.0.view_count }}</p>
            <a href="{{ article1.0.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
        </div>
        {% endif %}
        <!-- Slide Two - Set the background image for this slide in the line below -->
        {% if article1.1 %}
        <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.1.image.url }}'); background-size: cover;">
          <div id='back' style="display: block!important;" class="carousel-caption d-none d-md-block">
            <h1>{{ article1.1.title|upper }}</h1>

            <p style="color: #f2f2f2;">Views: {{ article1.1.view_count }}</p>
            <a href="{{ article1.1.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
        </div>
        {% endif %}
        <!-- Slide Three - Set the background image for this slide in the line below -->
        {% if article1.2 %}
        <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.2.image.url }}'); background-size: cover;">
          <div id='back' style="display: block!important;  " class="carousel-caption d-none d-md-block">
            <h1>{{ article1.2.title|upper }}</h1>

            <p style="color: #f2f2f2;">Views: {{ article1.2.view_count }}</p>
            <a href="{{ article1.2.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
        </div>
        {% endif %}
        <!-- Slide Four - Set the background image for this slide in the line below -->
        {% if article1.3 %}
        <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.3.image.url }}'); background-size: cover;">
          <div id='back' style="display: block!important;" class="carousel-caption d-none d-md-block">
            <h1>{{ article1.3.title|upper }}</h1>

            <p style="color: #f2f2f2;">Views: {{ article1.3.view_count }}</p>
            <a href="{{ article1.3.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
        </div>
        {% endif %}
        <!-- Slide Five - Set the background image for this slide in the line below -->
        {% if article1.4 %}
        <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.4.image.url }}'); background-size: cover;">
          <div id='back' style="display: block!important;" class="carousel-caption d-none d-md-block">
            <h1>{{ article1.4.title|upper }}</h1>

            <p style="color: #f2f2f2;">Views: {{ article1.4.view_count }}</p>
            <a href="{{ article1.4.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
        </div>
        {% endif %}
        <!-- Slide Six - Set the background image for this slide in the line below -->
        {% if article1.5 %}
        <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.5.image.url }}'); background-size: cover;">
          <div id='back' style="display: block!important;" class="carousel-caption d-none d-md-block">
            <h1>{{ article1.5.title|upper }}</h1>

            <p style="color: #f2f2f2;">Views: {{ article1.5.view_count }}</p>
            <a href="{{ article1.5.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
        </div>
        {% endif %}
        <!-- Slide Seven - Set the background image for this slide in the line below -->
        {% if article1.6 %}
        <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.6.image.url }}'); background-size: cover;">
          <div id='back' style="display: block!important;" class="carousel-caption d-none d-md-block">
            <h1>{{ article1.6.title|upper }}</h1>

            <p style="color: #f2f2f2;">Views: {{ article1.6.view_count }}</p>
            <a href="{{ article1.6.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
        </div>
        {% endif %}
        <!-- Slide Eight - Set the background image for this slide in the line below -->
        {% if article1.7 %}
        <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.7.image.url }}')">
          <div id='back' style="display: block!important;" class="carousel-caption d-none d-md-block">
            <h1>{{ article1.7.title|upper }}</h1>

            <p style="color: #f2f2f2;">Views: {{ article1.7.view_count }}</p>
            <a href="{{ article1.7.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
        </div>
      </div>
      {% endif %}
      {% if article1.8 %}
      <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.8.image.url }}'); background-size: cover;">
          <div id="back" style="display: block!important;" class="carousel-caption d-none d-md-block">
          <h1>{{ article1.8.title|upper }}</h1>

          <p style="color: #f2f2f2;">Views: {{ article1.8.view_count }}</p>
          <a href="{{ article1.8.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
      </div>
      {% endif %}
      {% if article1.9 %}
      <div class="carousel-item" style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('{{ article1.9.image.url }}'); background-size: cover;">
          <div id="back" style="display: block!important;" class="carousel-caption d-none d-md-block">
              <h1>{{ article1.9.title|upper }}</h1>

              <p style="color: #f2f2f2;">Views: {{ article1.9.view_count }}</p>
              <a href="{{ article1.9.get_absolute_url }}"><button type="button" class="btn btn-info">View</button></a>
          </div>
      </div>
      {% endif %}
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


  </header>



{% endblock %}




{% block content %}



<div id="addQuestion">
  <div class="col-sm-8 form-group-lg">

<div class="col-lg-8 border border-success p-4 m-4 mx-auto">
  {% if questions|length  > 0 %}
  {% for i in questions %}
  <a class="fire_checking" id="{{i.id}}" style="visibility: hidden;" data-id="{{i.id}}" data-username="{{ i.username }}" data-question_id="{{ i.id }}" data-course_id="{{id}}" data-topic_id="{{topic_id}}"></a>
  {% answered_assignment1 user i.question id topic_id as studentss %}
  {% answered_assignment2 user i.question id topic_id as studentss2 %}
  {% if studentss2 == True %}
  {% if studentss == True %}
  <h4 style="">Position {{questions.number}} of {{questions.paginator.count}}</h4>
  <h3>{{ i.question|upper }}</h3>
  <br>
  <br>

  <h5 style="text-align: center;">Voted already</h5>

  <div class="paginator">
  <div class="form-group">
    {% if questions.has_next %}

    <a href="?page={{ questions.next_page_number }}"><button class="btn form-control btn-primary">Check Next</button></a>
    {% else %}

    {% if i.question in score_questions %}
  {% if i.answer in score_answer %}
  <input id="option17" type="hidden" name="name1" value="{{i.id}}">
  <input id="option18" type="hidden" name="name1" value="{{ id }}">
    <input id="option19" type="hidden" name="name1" value="{{ slug }}">
    <input id="option20" type="hidden" name="name1" value="{{ topic_id }}">
    <input id="option21" type="hidden" name="name1" value="{{ questions.number }}">

  <br>
  <hr>
    <a id="link1" href="{% url 'students1:student_department_detail_module' course.id topic_id %}"><button class="btn form-control btn-primary">Back to section/year</button></a>

    {% else %}
    <input id="option17" type="hidden" name="name1" value="{{i.id}}">
  <input id="option18" type="hidden" name="name1" value="{{ id }}">
    <input id="option19" type="hidden" name="name1" value="{{ slug }}">
    <input id="option20" type="hidden" name="name1" value="{{ topic_id }}">
    <input id="option21" type="hidden" name="name1" value="{{ questions.number }}">
    <br>
  <hr>
    <a id="link1" href="{% url 'students1:student_department_detail_module' course.id topic_id %}"><button class="btn form-control btn-primary">Back to section/year</button></a>



    {% endif %}
    {% else %}
    <input id="option17" type="hidden" name="name1" value="{{i.id}}">
  <input id="option18" type="hidden" name="name1" value="{{ id }}">
    <input id="option19" type="hidden" name="name1" value="{{ slug }}">
    <input id="option20" type="hidden" name="name1" value="{{ topic_id }}">
    <input id="option21" type="hidden" name="name1" value="{{ questions.number }}">
    <br>
  <hr>
    <a id="link1" href="{% url 'students1:student_department_detail_module' course.id topic_id %}"><button class="btn form-control btn-primary">Back to section/year</button></a>



    {% endif %}
    {% endif %}

  </div>
  </div>

  {% else %}

  <h4 style="">Position {{questions.number}} of {{questions.paginator.count}}</h4>
    <h3>{{ i.question|upper }}</h3>
  <form class="form-group" method="POST" enctype="multipart/form-data" action="">

      {% if i.option1 != None %}
    <div class="radio">
      <label><input id="option1" type="radio" name="name" value="{{ i.option1 }}">{{i.option1|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option2 != None %}
    <div class="radio">
      <label><input id="option2" type="radio" name="name" value="{{ i.option2 }}">{{i.option2|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option3 != None %}
    <div class="radio">
      <label><input id="option3" type="radio" name="name" value="{{ i.option3 }}">{{i.option3|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option4 != None %}
    <div class="radio">
      <label><input id="option4" type="radio" name="name" value="{{ i.option4 }}">{{i.option4|capfirst}}</label>
    </div>
    {% endif %}


    {% if i.option5 != None %}
    <div class="radio">
      <label><input id="option5" type="radio" name="name" value="{{ i.option5 }}">{{i.option5|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option6 != None %}
    <div class="radio">
      <label><input id="option6" type="radio" name="name" value="{{ i.option6 }}">{{i.option6|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option7 != None %}
    <div class="radio">
      <label><input id="option7" type="radio" name="name" value="{{ i.option7 }}">{{i.option7|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option8 != None %}
    <div class="radio">
      <label><input id="option8" type="radio" name="name" value="{{ i.option8 }}">{{i.option8|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option9 != None %}
    <div class="radio">
      <label><input id="option9" type="radio" name="name" value="{{ i.option9 }}">{{i.option9|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option10 != None %}
    <div class="radio">
      <label><input id="option10" type="radio" name="name" value="{{ i.option10 }}">{{i.option10|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option11 != None %}
    <div class="radio">
      <label><input id="option11" type="radio" name="name" value="{{ i.option11 }}">{{i.option11|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option12 != None %}
    <div class="radio">
      <label><input id="option12" type="radio" name="name" value="{{ i.option12 }}">{{i.option12|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option13 != None %}
    <div class="radio">
      <label><input id="option13" type="radio" name="name" value="{{ i.option13 }}">{{i.option13|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option14 != None %}
    <div class="radio">
      <label><input id="option14" type="radio" name="name" value="{{ i.option14 }}">{{i.option14|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option15 != None %}
    <div class="radio">
      <label><input id="option15" type="radio" name="name" value="{{ i.option15 }}">{{i.option15|capfirst}}</label>
    </div>
    {% endif %}


    {% if i.option16 != None %}
    <div class="radio">
      <label><input id="option16" type="radio" name="name" value="{{ i.option16 }}">{{i.option16|capfirst}}</label>
    </div>
    {% endif %}
    <input id="option17" type="hidden" name="name1" value="{{i.id}}">
  <input id="option18" type="hidden" name="name1" value="{{ id }}">
    <input id="option19" type="hidden" name="name1" value="{{ slug }}">
    <input id="option20" type="hidden" name="name1" value="{{ topic_id }}">
    <input id="option21" type="hidden" name="name1" value="{{ questions.number }}">
  </form>
  <div class="form-group">
    <button id="save_ans1" class="btn btn-success vote">Vote</button>
  </div>
  <div class="paginator">
  <div class="form-group">
    {% if questions.has_next %}

    <a href="?page={{ questions.next_page_number }}"><button class="btn form-control btn-primary">Next</button></a>
    {% else %}
    <a id="link1" href="{% url 'students1:student_department_detail_module' course.id topic_id %}"><button class="btn form-control btn-primary">Back to section/year</button></a>
    {% endif %}

  </div>
  </div>

  {% endif %}

  {% else %}

  <h4 style="">Position {{questions.number}} of {{questions.paginator.count}}</h4>
    <h3>{{ i.question|upper }}</h3>
  <form class="form-group" method="POST" enctype="multipart/form-data" action="">

    {% if i.option1 != None %}
    <div class="radio">
      <label><input id="option1" type="radio" name="name" value="{{ i.option1 }}">{{i.option1|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option2 != None %}
    <div class="radio">
      <label><input id="option2" type="radio" name="name" value="{{ i.option2 }}">{{i.option2|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option3 != None %}
    <div class="radio">
      <label><input id="option3" type="radio" name="name" value="{{ i.option3 }}">{{i.option3|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option4 != None %}
    <div class="radio">
      <label><input id="option4" type="radio" name="name" value="{{ i.option4 }}">{{i.option4|capfirst}}</label>
    </div>
    {% endif %}


    {% if i.option5 != None %}
    <div class="radio">
      <label><input id="option5" type="radio" name="name" value="{{ i.option5 }}">{{i.option5|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option6 != None %}
    <div class="radio">
      <label><input id="option6" type="radio" name="name" value="{{ i.option6 }}">{{i.option6|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option7 != None %}
    <div class="radio">
      <label><input id="option7" type="radio" name="name" value="{{ i.option7 }}">{{i.option7|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option8 != None %}
    <div class="radio">
      <label><input id="option8" type="radio" name="name" value="{{ i.option8 }}">{{i.option8|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option9 != None %}
    <div class="radio">
      <label><input id="option9" type="radio" name="name" value="{{ i.option9 }}">{{i.option9|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option10 != None %}
    <div class="radio">
      <label><input id="option10" type="radio" name="name" value="{{ i.option10 }}">{{i.option10|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option11 != None %}
    <div class="radio">
      <label><input id="option11" type="radio" name="name" value="{{ i.option11 }}">{{i.option11|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option12 != None %}
    <div class="radio">
      <label><input id="option12" type="radio" name="name" value="{{ i.option12 }}">{{i.option12|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option13 != None %}
    <div class="radio">
      <label><input id="option13" type="radio" name="name" value="{{ i.option13 }}">{{i.option13|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option14 != None %}
    <div class="radio">
      <label><input id="option14" type="radio" name="name" value="{{ i.option14 }}">{{i.option14|capfirst}}</label>
    </div>
    {% endif %}

    {% if i.option15 != None %}
    <div class="radio">
      <label><input id="option15" type="radio" name="name" value="{{ i.option15 }}">{{i.option15|capfirst}}</label>
    </div>
    {% endif %}


    {% if i.option16 != None %}
    <div class="radio">
      <label><input id="option16" type="radio" name="name" value="{{ i.option16 }}">{{i.option16|capfirst}}</label>
    </div>
    {% endif %}
    <input id="option17" type="hidden" name="name1" value="{{i.id}}">
  <input id="option18" type="hidden" name="name1" value="{{ id }}">
    <input id="option19" type="hidden" name="name1" value="{{ slug }}">
    <input id="option20" type="hidden" name="name1" value="{{ topic_id }}">
    <input id="option21" type="hidden" name="name1" value="{{ questions.number }}">
  </form>
  <div class="form-group">
    <button id="save_ans1" class="btn btn-success vote">Vote</button>
  </div>
  <div class="paginator">
  <div class="form-group">
    {% if questions.has_next %}

    <a href="?page={{ questions.next_page_number }}"><button class="btn form-control btn-primary">Next</button></a>
    {% else %}
    <a id="link1" href="{% url 'students1:student_department_detail_module' course.id topic_id %}"><button class="btn form-control btn-primary">Back to section/year</button></a>
    {% endif %}

  </div>
  </div>


  {% endif %}
  {% endfor %}


  {% else %}

  <h2 style="text-align: center;">No position to vote for in this section/year.</h2>
  <a id="link1" href="{% url 'students1:student_department_detail_module' course.id topic_id %}"><button class="btn form-control btn-primary">Back to section/year</button></a>


  {% endif %}



</div>
</div>
</div>
<br><br><br><br>

{% endblock %}

 {% block java %}
<script>

 </script>
 {% endblock %}

