{% extends 'ent/base.html' %}

{% block title %}Enrolled courses{% endblock %}


{% block style %}
  <style>
  #fix {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .set1 {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto;
    grid-template-areas:
      'contact';
}
  </style>


{% endblock %}


{% block content %}
 <h1>Enrolled Courses</h1>
 <br>
 <br>
 <div class="module">
 {% for course in object_list %}
 <div class="course-info">

 	<h4>{{ course.name|upper }}</h4>
 <p><a href="{% url 'students:student_department_detail' course.id %}">Access contents</a></p>
 <br>
 <hr>
 </div>

 {% empty %}
 <p>
 You are not enrolled in any courses yet.
 
to enroll in a course.
 </p>
 {% endfor %}
 </div>
{% endblock %}